<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='materialize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='obsidian.css') }}">
		<script src="{{ url_for('static', filename='materialize.js') }}"></script>
		<script src="{{ url_for('static', filename='main.js') }}"></script>
		<script src="{{ url_for('static', filename='highlight.pack.js') }}"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script>hljs.initHighlightingOnLoad();</script>
	</head>

	<style type='text/css'>
	pre, code {
	    overflow: hidden;
	    white-space: pre;
	}
	.hljs {
	    padding: 0.5em;
	    padding-right: 100%;
	    background: #002b36;
	    color: #839496;
	    -webkit-text-size-adjust: none;
	}
	</style>

	<body>
		<header>
			<div class="white">
 					<a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;right:50px;top:0;width:10%;" href="https://mlh.io/seasons/na-2018/events?utm_source=na-2018&amp;utm_medium=TrustBadge&amp;utm_campaign=na-2018&amp;utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/white.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%">
 					</a>
 					<img id="webbed-hexs2" src="{{ url_for('static', filename='background_hexagon_left.png') }}">
 					<img id="webbed-hexs-right" src="{{ url_for('static', filename='Website_background_right.png') }}" style="top:307.274px;">
 					
 					<div id="logo-container-outer">
             			<div id="logo-container">
 					         <img src="{{ url_for('static', filename='Website_center.png') }}" id="hackpsu-logo" class="animated rubberBand" alt="hackpsulogo">
 					            <div></div>
 			            </div>
 			        </div>
 
 			</div>
 		</header>

 		<div>
 			<h1>Hosting A Website On Amazon Web Services</h1>
 		</div>

    <div class="container">
    
      <div>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#checkin"><i class="material-icons right">send</i>Check In</a>
        
        <!-- Modal Structure -->
        <div id="checkin" class="modal modal-fixed-footer">
          <div class="modal-content">
              <p style="font-size:25px" class="container">Welcome to the 'Host a website on AWS' workshop!</p>
              <p style="font-size:20px" class="flow-text">For this workshop, you will be interacting with different services, within the AWS Management Console. Enter in your Penn State User ID (ie: 'abc1234') to create a user and gain access to the AWS environment!</p>
              <form action="/echo" method="POST"><input name="text" data-length="7" maxlength="7"><button class="btn waves-effect waves-light" type="submit" value="echo">Check-In<i class="material-icons right">send</i></form>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
          </div>
        </div>

      </div>

    </div>

      <div class="container">
       		   <div class="card small">
          <div class="card-content">
            <p class="flow-text">Agenda</p>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a class="active" href="#test4">Part 1: Create index.html</a></li>
              <li class="tab"><a href="#test5">Part 2: Upload to S3</a></li>
              <li class="tab"><a href="#test6">Part 3: Create an EC2 Instance</a></li>
            </ul>
          </div>
          <div class="card-content grey lighten-4">
            <div id="test4">
             
            </div>
            <div id="test5">Test 2</div>
            <div id="test6">Test 3</div>
          </div>
        </div>
      </div>
 
<div class="container">

  <div class="section">
    <h5 class="left-align">Code Snippets</h5>
    <p class="left-align">Stuff</p>
  </div>

 <ul class="collapsible" data-collapsible="accordion" style="font-size:10px;text-align:left; list-style-position: inside;">
    <li>
        <div class="collapsible-header" style="font-size:15px"><i class="material-icons">note_add</i>Example index.html</div>
        <div class="collapsible-body"><span>
                <div class="row">
               <div class="col s9">     
                <pre style="font-size:15px; text-align: left;">
                  <code id="basicindex" class="html">
                  &lt;html&gt;
                    &lt;head&gt;
                        &lt;link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine"&gt;
                        &lt;style&gt; 
                            body {
                              font-family:'Tangerine', serif;font-size: 48px;
                            }
                          &lt;/style&gt;
                    &lt;/head&gt;
                    &lt;body&gt;
                      &lt;div&gt; Coding in Hacky Valley! &lt;/div&gt;
                    &lt;/body&gt; 
                  &lt;/html&gt;
                  </code>         
                </pre>
                </div>
              </div>
              <h6 class="left-align" style="font-size:20px">Output:</h6>
              <blockquote style="font-size:48px;font-family:Tangerine, serif;">
                Coding in Hacky Valley! 
              </blockquote>

              <button class="btn waves-effect waves-teal" id="index" data-clipboard-target="#basicindex"><i class="material-icons right">content_copy</i>copy</button>

              <a class="waves-effect waves-light btn" href="{{ url_for('static', filename='index.html') }}" download="index.html" style="margin-left: 40px;"><i class="material-icons right">file_download</i>Download</a>

      </span></div>
    </li>
    <li>
      <div class="collapsible-header" style="font-size:15px"><i class="material-icons">code</i>S3 Bucket Policy</div>
      <div class="collapsible-body"><span>

            <div class="row">
              <div class="col s9">     
              <pre style="font-size:15px; text-align: left;">
              <code id="bucketpolicy" class="bash">
                {
                    "Version": "2012-10-17",
                    "Statement": [
                        {
                            "Sid": "PublicReadForGetBucketObjects",
                            "Effect": "Allow",
                            "Principal": "*",
                            "Action": "s3:GetObject",
                            "Resource": "arn:aws:s3:::YOUR_BUCKET_NAME/*"
                        }
                    ]
                }
              </code>         
            </pre>
            </div>
          </div>

        <button class="btn waves-effect waves-teal" id="s3policy" data-clipboard-target="#bucketpolicy"><i class="material-icons right">content_copy</i>copy</button>

      </span></div>
    </li>
    <li>
      <div class="collapsible-header" style="font-size:15px"><i class="material-icons">code</i>EC2 Bootstrap Script</div>
      <div class="collapsible-body"><span>

            <div class="row">
              <div class="col s9">     
              <pre style="font-size:15px; text-align: left;">
              <code id="ec2" class="shell">
                  #!/bin/bash
                  yum update -y
                  yum install -y httpd24
                  service httpd start
                  chkconfig httpd on
                  aws s3 cp s3://YOUR_BUCKET_NAME /var/www/html/ --recursive
</code>
            </pre>
            </div>
          </div>

        <button class="btn waves-effect waves-teal" id="ec2policy" data-clipboard-target="#ec2"><i class="material-icons right">content_copy</i>copy</button>

      </span></div>
    </li>
  </ul>
</div>
	</body>
</html>